@import 'tailwindcss';

@theme {
  --color-accent: #cf463a;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono.woff2') format('woff2');
  font-display: swap;
}
