---
import Header from './Header.astro';
---

<div class='flex flex-col gap-2' id='about-me'>
  <Header headerText='About me' />
  <div>
    <p>I am a Full Stack Developer based in Helsinki, Finland.</p>
    <p>
      Aside from coding, I enjoy playing video games, cooking and exercising.
    </p>
    <p>I am also a huge cat lover! <a href='/cats'>😸</a></p>
  </div>
</div>
