---
import Header from './Header.astro';
import AstroIcon from './icons/AstroIcon.astro';
import DaisyIcon from './icons/DaisyIcon.astro';
import PostgresIcon from './icons/PostgresIcon.astro';
import PrismaIcon from './icons/PrismaIcon.astro';
import TailwindIcon from './icons/TailwindIcon.astro';
import TypescriptIcon from './icons/TypescriptIcon.astro';

const technologies = [
  {
    name: 'Typescript',
    icon: TypescriptIcon,
  },
  {
    name: 'Astro',
    icon: AstroIcon,
  },
  {
    name: 'PostgreSQL',
    icon: PostgresIcon,
  },
  {
    name: 'Prisma',
    icon: PrismaIcon,
  },
  {
    name: 'Tailwind',
    icon: TailwindIcon,
  },
  {
    name: 'DaisyUI',
    icon: DaisyIcon,
  },
];
---

<div class='flex flex-col gap-2' id='favorite-stack'>
  <Header headerText='Favorite tech stack' />
  <div class='flex flex-col gap-8'>
    <div>
      <p>
        Over the course of my career, I have had the opportunity to work with
        many different technologies.
      </p>
      <p>
        Listing them all here would take far too long, but below is the tech
        stack that is currently my favorite.
      </p>
      <p>
        This has changed before and is bound to change again in the future.
        Exciting!
      </p>
    </div>

    <div
      class='w-2/3 grid lg:grid-cols-6 lg:grid-rows-1 md:grid-rows-2 md:grid-cols-3 md:space-y-6 sm:grid-cols-2 sm:grid-rows-3 sm:space-y-6'
    >
      {
        technologies.map((tech) => (
          <div class='flex flex-col items-center gap-2'>
            <tech.icon />
            <p>{tech.name}</p>
          </div>
        ))
      }
    </div>
  </div>
</div>
