---
import headerImage from '../assets/header.webp';
import AboutMeIcon from './icons/AboutMeIcon.astro';
import ContactIcon from './icons/ContactIcon.astro';
import FavoriteStackIcon from './icons/FavoriteStackIcon.astro';
import RecentTechIcon from './icons/RecentTechIcon.astro';
import WorkExperienceIcon from './icons/WorkExperienceIcon.astro';

const navItems = [
  { href: '#about-me', icon: AboutMeIcon },
  { href: '#work-experience', icon: WorkExperienceIcon },
  { href: '#favorite-stack', icon: FavoriteStackIcon },
  { href: '#recent-tech', icon: RecentTechIcon },
  { href: '#contact', icon: ContactIcon },
];
---

<aside
  class='flex flex-col items-center space-y-4 min-w-20 w-28 font-[Roboto_Mono] pt-4 pl-4 sticky top-0 h-screen'
>
  <a href='/' class='hover:opacity-80'
    ><img src={headerImage.src} alt='Header image' width='60' height='60' /></a
  >
  {
    navItems.map((item) => (
      <a href={`/${item.href}`} class='hover:opacity-80'>
        <item.icon />
      </a>
    ))
  }
</aside>
