---
import Sidebar from '../components/Sidebar.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.ico' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>Ioana Tiplea | Software Developer</title>
  </head>
  <body class='bg-black text-white font-roboto-mono'>
    <div class='flex gap-6'>
      <Sidebar />
      <div class='flex flex-col gap-10 py-7'>
        <h1 class='text-4xl text-accent -mb-[18px]'>Hi, I'm Ioana!</h1>
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    line-height: 150%;
  }
</style>
